.header {
  width: 100%;
  height: 100px;
  overflow: hidden;

  display: flex;
  position: relative;
}

.header__background-image {
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
}

.header__title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.header__title {
  /* border: 1px solid red; */
  /* background-color: white; */
  /* background: radial-gradient(red, rgba(0, 0, 0, 0) 70%); */
  /* border-radius: 500px; */
  /* padding: 0 10rem; */
  width: fit-content;
  font-weight: 700;
  font-size: 5rem;
  /* font-family: 'Lalezar', cursive; */

  font-family: 'Red Rose', cursive;
  text-shadow: -2px 2px 2px var(--color-purple), -2px 2px 20px var(--color-bg2),
    -2px 2px 20px var(--color-bg2);
}
