.navbar {
  background-color: var(--color-purple);
  width: 100px;
  position: relative;
}

.navbar__list-container {
  display: flex;
  flex-direction: column;
  color: red;
  position: fixed;
}

.navbar__list-item {
  color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  border-radius: 5px;
  padding: 0 3px;

  display: flex;
  text-decoration: none;
}
